div[class|="col"] {
    background-color: black;
    border: 1px blue;
    border-style: inset;
}
.container {
    background-color: black;
}
table {
    width: 858px;
    height: 285px;
  border-collapse: collapse;
  background-color:  #000000;
  color: #FFFFFF;;
 
}

.bi bi-hand-thumbs-up {
    border: 1px solid #1ED760;
 }
 
 footer {
    width: 1152px;
    height: 88px;
    left: 0px;
    top: 612px;
    background-color: black;
 }

 foot {
     height: 88px;
 }
.container_main {
     background-color: black;
 }