div[class|="col"] {
    background-color: black;
    border: blue;
   
  
}
.container_main{
    width: 1160psx;
    height: 700px;
    
}
div.container-fluid.second {
    height: 612px;
}

table {
    width: 858px;
    height: 285px;
  background-color:  #000000;
  color: #FFFFFF;
  padding-left: 146px;

 
}
/*
.header__mobil {
    background-color: chartreuse;
}*/

.bi bi-hand-thumbs-up {
    border: 1px solid #1ED760;
 }
 
 footer {
    width: 1152px;
    height: 88px;
    left: 0px;
    top: 612px;
    background-color: black;
    font-family: mo;
 }

 foot {
     height: 88px;
 }
.container_main {
     background-color: black;
     font-family: monte;
    
 }
 p4{
    background-color: black;
    font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;

width: 242px;
height: 30px;
padding-left: 66px;
top: 641px;
   
}


 a:link {
    color: white;
  }