sdiv[class|="col"] {
    background: #000000;
}
.container_main{
    width: 100%;
    height: 700px;    
}
div.container-fluid.second {
    height: 612px;
}
h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    font-family: 'Montserrat';
}
p1 {
    top: 182px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    font-family: 'Montserrat';
}

table {
    height: 285px;
    background-color:  #000000;
    color: #FFFFFF;
    padding-left: 146px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 858px;
}

p3 {
    left: 12.5%;
    right: 78.51%;
    top: calc(50% - 30.38px/2 - 90.81px);
    font-family: 'source sans pro';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    height: 30.38px;
}

.bi bi-hand-thumbs-up {
    border: 1px solid #1ED760;
 }
 
 footer {
    width: 1152px;
    height: 88px;
    left: 0px;
    top: 612px;
    background: #000000;
    font-family: 'Montserrat';
 }

 foot {
     height: 88px;
 }
.container_main {
    background: #000000;
    font-family: 'Montserrat';
    
 }
 p4{
   background: #000000;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 24px;
   width: 242px;
   height: 30px;
   padding-left: 66px;
   top: 641px;
}


 a:link {
    color: white;
  }