 .header-dark {
    position: absolute;
    margin-bottom:0px;
    background-color: black;
    z-index: 1;
}
.header--img {
    margin-right: 12px;
    margin-bottom: 5px;
    margin-left: 60px;
    z-index: 1;
}
.header-dark-h1 {
    font-family: Righteous;
    color: white;
    z-index: 1;
}
.header-dark-text {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-right: 40px;
}

.footer-home {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0px;
    border-top: 1px solid rgb(0, 0, 0) ;
    background-color: black;
    z-index: 1;
}
.lg-footer {
    width: 111px;
    height: 67px;
    
}