.header-light {
    margin-bottom: 34px;
}
.header__img {
    margin-right: 12px;
    margin-bottom: 5px;
}
h1 {
    font-family: Righteous;
}
@media (max-width: 768px) {

    h1  {
        color:white;
    }
}
.footer-register {
    margin-top: 57px;
    border-top: 1px solid rgb(206, 204, 204) ;
}
.lg-footer {
    width: 111px;
    height: 67px;
}

.footer-mobile {
    bottom: 0px;
    width: 100%;
}