.home-header {
    background-color: black;
    color: white;
}
.home-footer {
    background-color: black;
    color: white;
} 
.home-header a {
    color: white;
    text-decoration: white;
}
.home-header a:hover {
    color: rgb(15, 170, 62) !important;
    text-decoration: none !important;
}
.home-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.logo {
    margin-top: 50px;
}




/* .header-dark {
    background-color: black;
}

.header-dark-h1 {
    font-family: Righteous;
    color: white;
    
}
.header-dark-text {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    
} */

/* .footer-home {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0px;
    border-top: 1px solid rgb(0, 0, 0) ;
    background-color: black;
    z-index: 1;
}
.lg-footer {
    width: 111px;
    height: 67px;
} */

@media (max-width: 576px) {
    .first:after {
        content: 'Extra small';
    }
}
@media (min-width: 576px) {
    .first:after {
        content: 'Small';
    }
}
@media (min-width: 768px) {
    .first:after {
        content: 'Medium';
    }
}
@media (min-width: 992px) {
    .first:after {
        content: 'Large';
    }
}
@media (min-width: 1200px) {
    .first:after {
        content: 'Extra large';
    }
}