/* BAGROUND MOBILE */ 
.bg-mobile-rgt {
    filter: brightness(0.4)!important;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}
/* FOMR */ 
.register-form {
    background-color: white;
    border-radius: 15px;
    width: 527px;
    height: auto;
}
.register-input {
    height: 57px;
}
.born-register {
    width: 527px;
    height: 57px;
}
.born-register-select { 
    height: 57px;
    box-sizing: border-box;
    border: 1px solid black;
}
option {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
}
.select-year {
    width: 173px;
}
.select-day {
    width: 90px;
}
.select-month {
    width: 211px;
}
.button-green {
    width: 191px;
    height: 38px;
    border-radius: 33px;
    background-color:#1ED760;
}
.input-gender[type="radio"]{
    width: 20px;
    height: 20px;
}
.ask-acc-rgt {
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
}
.ask-acc-rgt:hover {
    color: #1ED760;
    text-decoration: none;
}
.input-gender-label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
}
.hr-line {
    width: 527px;
}
/* AFTER FORM */
.register-account-ask {
    width: 185px;
    height: 16px;
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.button-white {
    width: 204px; 
    height: 38px;
    background: white !important;
    border: solid 2px black !important;
}
