* {
  margin: 0px;
}

.container-fluid {
  background-color: #000000;
}
 header {
   background-color: #000000;
 }
 
 .text-secundary {
     width: 418px;
     height: 37px;
     box-sizing: border-box;
     font-size: 16px;
     background-color: #FFFFFF;
     background-image: url(Images/1.jpg);
     background-position: left center;
     background-size: 20px;
     background-position: 10px 10px; 
     background-repeat: no-repeat;
     border: 1px solid rgba(31, 32, 65, 0.25);
     padding: 12px 20px 12px 40px;
     -webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;
     top: 181px;

 
 } 
 
  h1 {
    left: 114px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    height: 64px;
  }
 h2 {
  width: 292px;
  height: 30px;
  left: 430px;
  top: 109px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
 }
 
 #customers td, #customers th {
     border: 1px solid  black;
     padding: 8px;
   }
   
 
   table {
       width: 858px;
       height: 285px;
     border-collapse: collapse;
     background-color:  #000000;
     color: #FFFFFF;;
   }
   
   /*
   th, td {
     border-bottom: 1px solid #000000;;
     font-family: Montserrat;
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     line-height: 16px;
     color: #FFFFFF;
     padding-left: 10px;
     margin: 10px;
   }
   
   tr:nth-child(even){background-color:#282828;;}
   
 */
   .showmore {
     height: 22.09px;
     left: 44.28%;
     right: 48.76%;
     top: calc(50% - 22.09px/2 + 219.98px);
     font-family: Montserrat;
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     line-height: 16px;
     color: #FFFFFF;
   }
 
   footer {
     background-color: black;
     
   }
   .button {
background-color: #4CAF50;
border-radius: 100%;
border-style: hidden;
text-align: center;   
height: 22.09px;
left: 20.14%;
right: 79.02%;
top: calc(50% - 22.09px/2 + 0.05px);
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 16px;
color: #FFFFFF;
    
  }

 border {
  
  border: 1px solid rgba(255, 255, 255, 0.85);
 }