
/* .conteiner {
    display: flex;
    background: rebeccapurple;
    color: #fff;
    font-size: 3em;
    height: 50vh;
    justify-content: center;
    align-items: center;
} */
.login-header {
    margin-bottom: 34px;
}
.header__img {
    margin-right: 5px;
}

/* LOGIN-FORM */
/* .box-login-form {
    margin-top: 37px;
} */
.login-form {
    width: 527px;
}

.login-checkbox {
    width: 29.17px;
    height: 29.17px;
    margin-right: 15.83px;
}
.login-checkbox-text {
    color: gray;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.button-green {
    color: white;
    width: 204px;
    height: 38px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 576px) {
    .first:after {
        content: 'Extra small';
    }
}
@media (min-width: 576px) {
    .first:after {
        content: 'Small';
    }
}
@media (min-width: 768px) {
    .first:after {
        content: 'Medium';
    }
}
/* css de new playlist*/
#customers td, #customers th {
    border: 1px solid  black;
    padding: 8px;
  }
  

  table {
      width: 858px;
      height: 285px;
    border-collapse: collapse;
    background-color:  #000000;
    color: #FFFFFF;;
  }
  
  
  th, td {
    border-bottom: 1px solid #000000;;
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #FFFFFF;
padding-left: 10px;
margin: 10px;
  }
  
  tr:nth-child(even){background-color:#282828;;}
  

  .showmore {
    height: 22.09px;
    left: 44.28%;
    right: 48.76%;
    top: calc(50% - 22.09px/2 + 219.98px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: red;
  }